extends common/layout
include common/mixins

block content
	.container
		.hero
			h1.headliner 26 техник современного декора
			p.hero_descriptor Стань профессионалом в кондитерском деле за 
				span.text-bold 12 недель 
				| и начни зарабатывать 
				span.text-bold от 30 000 рублей
				|  в месяц!
			.hero-pic
				+pic({src: "img/1-hero/hero", pictureClass: 'hero_pic'})
				.hero-badge Екатерина Мулюкова
			button.e-button.hero_cta Принять участие


		section.for-you
			h2.for-you_title Этот курс для тебя, если:

			.for-you-item
				.for-you-item-title.for-you-item-title--base
					h3.for-you-item-title_text.extra-bold  Ты новичок
					+pic({src: "img/2-for-you/1", pictureClass: 'for-you-item-title_pic'})
				p.for-you-item_descr Если ты только 
					span.text-bold начинаешь свой путь в кондитерском деле
					span и тебе непонятно с чего начать, где брать информацию и где обучаться
				.for-you-item-result
					span.for-you-item-result_badge Результат
					p.for-you-item-result_text Получи пошаговую методику, по которой безболезненно 
						span.text-bold пройдёшь «за ручку» под наставничеством Екатерины
						span и кураторов, сделаешь первые торты с современным декором и вкусными начинками

			.for-you-item.for-you-item--family
				.for-you-item-title
					h3.for-you-item-title_text.extra-bold  Ты готовишь для семьи
					+pic({src: "img/2-for-you/2",pictureClass: 'for-you-item-title_pic for-you-item-title_pic--family'})
				p.for-you-item_descr.for-you-item_descr--family Если ты готовишь только для семьи и  
					span.text-bold хочешь порадовать их новыми и вкусными начинками 
					span с современным декором
				.for-you-item-result
					span.for-you-item-result_badge Результат
					p.for-you-item-result_text Увеличишь свой ассортимент, 
						span.text-bold теперь у тебя будут пошаговые рецепты 
						span на любой праздник: дни рождения близких, семейные праздники, детская тематика

			.for-you-item.for-you-item--baker
				.for-you-item-title
					h3.for-you-item-title_text.extra-bold  Ты опытный кондитер
					+pic({src: "img/2-for-you/3", pictureClass: 'for-you-item-title_pic'})
				p.for-you-item_descr.for-you-item_descr--baker Если ты уже опытный кондитер, который хочет 
					span.text-bold увеличить свои заказы
					span или 
					span.text-bold начать делать на заказ
				.for-you-item-result
					span.for-you-item-result_badge Результат
					p.for-you-item-result_text Расширишь свою ассортиментную линейку, 
						span.text-bold узнаешь как продвигать себя в сети и искать клиентов
						span , а также какие начинки им предлагать

			button.e-button.for-you_cta Принять участие









		section.programm
			h2.programm_title Программа курса:

			.programm-item.programm-item-01
				h3.programm-item_number 01
				h4.programm-item_title «Вводная часть»
				p.programm-item-short Блок № 1 «Выпечка и сборка тортов» — Теория
				+pic({src: "img/3-programm/01", pictureClass: "programm_pic"})
				ul.programm-item-bullets
					li.programm-item_bullet Как выпекать бисквиты без бугорков и трещин
					li.programm-item_bullet Секреты температурного режима
					li.programm-item_bullet Как правильно собрать и выстоять торт
				h4.programm-item_title  Блок № 2 «Подготовка к декору» — Теория
				+pic({src: "img/3-programm/02", pictureClass: "programm_pic"})
				ul.programm-item-bullets
					li.programm-item_bullet Какой минимальный инвентарь необходим для декора
					li.programm-item_bullet Какие выбрать красители, кандурины, посыпки и блёстки
					li.programm-item_bullet Как составлять композиционные сочетания
				h4.programm-item_title Блок № 3 «Правильное выравнивание» — Теория
				+pic({src: "img/3-programm/03", pictureClass: "programm_pic"})
				ul.programm-item-bullets
					li.programm-item_bullet Как приготовить плотный крем, который держит форму
					li.programm-item_bullet Правильная техника выравнивания в 2 этапа, без единой крошки
					li.programm-item_bullet Как замораживать торт, чтобы добиться идеального выравнивания
					li.programm-item_bullet Как правильно накладывать вафельную картинку на торт, чтобы она не размякла
				.programm-item-result
					span.programm-item-result_badge Результат
					p.programm-item-result_text С помощью моей методики ты получишь идеальный торт. На основе этой базы ты с лёгкостью воплотишь любой декор в реальность!
					p.programm-item-result_text Ты узнаешь, какой инвентарь и необходим для работы. Не потратишь лишние деньги на покупку ненужного оборудования.
					p.programm-item-result_text Твои торты будут правильно собраны и готовы к декорированию. У тебя появится понимание, как составлять композиции из разных техник декора, и цветовой палитры!
			+programmItem({
				number: "02",
				title: "«Двухцветная обмазка +Шоколадная глазурь + Ягоды»",
				short: "Начинка: Рафаэлло с конфетами ручной работы",
				src: "img/3-programm/2",
				pictureClass: "programm_pic",
				imgClass: "",
				bullet: ["На каком этапе правильно наносить цвета", 'Как сделать нежную цветовую гамму', 'Как сделать глазурь нужной консистенции', 'Как наносить, чтобы она стекала красиво по торту', 'Как наносить, чтобы она стекала красиво по торту'],
				result: ['Ты научишься выравнивать торт в двухцветной палитре. Украсишь шоколадными подтёками, которые будут аккуратно стекать по твоему торту. А ягодный декор сделает твою композицию завершённой!']
			})
			+programmItem({
				number: "03",
				title: "«Кремовый декор + Торт Единорог»",
				short: "Начинка: Ванильный Шоколадный бисквит + крем-чиз",
				src: "img/3-programm/3",
				pictureClass: "programm_pic programm_pic-3",
				imgClass: "",
				bullet: ["Как приготовить стабильный белковый крем, который не течёт и сохраняет форму", 'Какие насадки выбрать, чтобы красиво отсаживать белковые цветы', 'Как приготовить мастичные элементы декора, чтобы они держали форму'],
				result: ['С помощью насыщенных, ярких кремовых цветов и элементов из мастики ты сможешь красиво украсить любой торт!']
			})
			+programmItem({
				number: "04",
				title: "«Шоколадные сферы, Топперы, Леденцы»",
				short: " Начинка: Красный Бархат с клубничной прослойкой",
				src: "img/3-programm/4",
				pictureClass: "programm_pic programm_pic-4",
				imgClass: "",
				bullet: ['Как растопить изомальт и придать круглую форму леденцам','Как правильно окрашивать и хранить готовые изделия','Как растопить шоколад без темперирования и градусника'],
				result: ["Ты освоишь современные техники декора, которые можно комбинировать на различных тортах. Натуральные леденцы на палочке украсят любой детский торт. А шоколадные сферы будут вызывать восторг близких!"]
			})
			+programmItem({
				number: "05",
				title: "«Меренговый декор + Белая глазурь»",
				short: "Начинка: Песочный с вишней и сливочно-сметанным кремом",
				src: "img/3-programm/5",
				pictureClass: "programm_pic",
				imgClass: "",
				bullet: ['Как приготовить стабильную меренгу, которая будет плотно держать свою форму','Как с помощью насадок отсаживать красивые безе с ровными очертаниями','Как приготовить глазурь, которая красиво стекает по торту'],
				result: ['С помощью проверенного рецепта ты легко приготовишь воздушные меренговые украшения, которые не будут таять и липнуть к рукам. А глазурь будет аккуратно стекать по твоему красивому тортику!']
			})
			+programmItem({
				number: "06",
				title: "«Линия разлома + Составление композиций»",
				short: " Начинка: Ферреро Роше с фундучной прослойкой и шоколадным кремом",
				src: "img/3-programm/6",
				pictureClass: "programm_pic programm_pic-6",
				imgClass: "",
				bullet: ['Как правильно составлять композиции на любую тематику','Как правильно окрашивать и хранить готовые изделия','Как растопить шоколад без темперирования и градусника','Как сделать красивую линию разлома без кондитерского мешка'],
				result: [' Ты научишься составлять композиционный декор на любую тематику. С помощью Линии разлома твой торт будет смотреться эффектно, вызывая восторг у близких!']
			})
			+programmItem({
				number: "07",
				title: "«Ваза из изомальта + Сахарный лист»",
				short: " Начинка: Многослойный с грецкими орехами и кремом брюле",
				src: "img/3-programm/7",
				pictureClass: "programm_pic programm_pic-7",
				imgClass: "",
				bullet: ['Техника безопасности при работе с изомальтом','Как приготовить вазу с красивыми очертаниями, чтобы она сохранила форму','Как сделать блестящий декор из сахарного листа, чтобы он не сломался'],
				result: ['С помощью обычного сахара ты сможешь изящно украсить торт. А мерцающая ваза будет красиво отблёскивать на столе, создавая праздничную атмосферу!']
			})
			button.e-button.programm_cta Принять участие
			+programmItem({
				number: "08",
				title: "«Декор с элементами из мастики +Шоколадные перья»",
				short: " Начинка: Ванильно Шифоновый бисквит с черничным конфи",
				src: "img/3-programm/8",
				pictureClass: "programm_pic programm_pic-8",
				imgClass: "",
				bullet: ['Как приготовить съедобные фигурки из мастики','Как делать красивые надписи на торт','Как приготовить шоколадные перья, которые держат форму'],
				result: [' Ты научишься готовить красивый декор, используя элементы декора из мастики. А шоколадные перья придадут изящность твоему торту и порадуют самого прихотливого гостя!']
			})
			+programmItem({
				number: "09",
				title: "«Мягкие кристаллы жеода»",
				short: " Начинка: Морковный с апельсиновым кремю",
				src: "img/3-programm/9",
				pictureClass: "programm_pic programm_pic-9",
				imgClass: "",
				bullet: ['Как приготовить мягкие кристаллы Жеода','Как приготовить кристаллы, которые не потекут','Как сделать градиентный переход из камней'],
				result: ['Ты научишься готовить современный декор из мягкой жеоды, которая не хрустит на зубах и смотрится очень красиво!']
			})
			+programmItem({
				number: "10",
				title: "«Зеркальная глазурь + темперирование шоколада»",
				short: " Начинка: Муссовый медовый с карамелью",
				src: "img/3-programm/10",
				pictureClass: "programm_pic programm_pic-10",
				imgClass: "",
				bullet: ['Как приготовить зеркальную глазурь без блендера','Как использовать глазурь повторно, при правильном хранении','Как определить рабочую температуру и темперировать шоколад','Какие элементы декора можно приготовить из шоколада'],
				result: ['Ты перестанешь бояться муссовых тортов и перейдёшь с ними на «ты». Твой стол украсит эффектный  торт, покрытый зеркальной глазурью, с элементами шоколадного декора!']
			})
			+programmItem({
				number: "11",
				title: "«Цветы из белкового заварного крема»",
				short: "Начинка: Кофейно-муссовый торт с шоколадным кремю",
				src: "img/3-programm/11",
				pictureClass: "programm_pic programm_pic-11",
				imgClass: "",
				bullet: ['Какими красителями окрашивать крем','Как приготовить плотный крем, который держит форму','Какие насадки использовать для цветов'],
				result: ['Ты научишься отсаживать шикарные цветы, которые будут выглядеть, как живые на твоём праздничном торте!']
			})
			+programmItem({
				number: "12",
				title: "«Трёхъярусный торт с акварельной техникой и цветами»",
				short: " 2 Вида начинки: Эстерхази + Ангельский с хрустящей прослойкой",
				src: "img/3-programm/12",
				pictureClass: "programm_pic",
				imgClass: "",
				bullet: ['Как сделать нежную цветовую гамму для акварели','Какие цветы можно использовать на торты и десерты','Как гармонично располагать цветы, и с каким декором они сочетаются','3 техники изолирования цветов от торта'],
				result: ['Ты соберёшь трёхъярусный торт и освоишь нежную акварельную технику и работу с живыми цветами. Этот многоярусный торт удивит всех твоих гостей своим шикарным видом!']
			})
			+programmItemBonus({
				number: "13",
				title: "Формирование образа в социальной сети",
				src: "img/3-programm/13",
				pictureClass: "programm-pic programm-pic-13",
				imgClass: "",
				bullet: ['Оформление страницы','Написание и публикация постов','Проявление активности в сети'],
				result: ['Твоя страница красиво и правильно оформлена, люди начинают проявлять к вам интерес как к личности, появляются первые обращения, заказы и ПРОДАЖИ!']
			})

			+programmItemBonus({
				number: "14",
				title: 'Закрепления материалов и дальнейший план',
				src: "img/3-programm/14",
				pictureClass: "programm-pic programm-pic-14",
				imgClass: "",
				bullet: ['Бесплатные способы продвижения','Информация как правильно общаться с заказчиками, продавать свои услуги','Получение дальнейшего плана развития','Финальное наставление от Екатерины'],
				result: ['У тебя есть пошаговый план развития на месяцы вперёд, тебе ясно, что делать и как продвигаться дальше!']
			})
			button.e-button.programm_cta.programm_cta--bottom








		section.testimonial
			h2.section_title Отзывы:








		section.pricing#pricing
			h2.section_title Цены курса:
			.pricing-item
				.pricing-item-header.pricing-item-header--noob
					+pic({src: 'img/4-pricing/noob'})
					h3.pricing-item_title Начинающий
				ul.pricing-item-bullets
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/1'})
						p.pricing-item_text Модуль 1
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/2'})
						p.pricing-item_text Модуль 2
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/3'})
						p.pricing-item_text Модуль 3

					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/4'})
						p.pricing-item_text Модуль 4
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/5'})
						p.pricing-item_text Модуль 5
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/6'})
						p.pricing-item_text Модуль 6
					
				+pic({src: 'img/4-pricing/gift'})
				p.pricing-item_gift-text Рецепт Королевского торта и один мастер класс в подарок
					span.pricing-item_gift-text--caption (при пролной оплате курса)
				p.pricing-item-price_new 3 990₽
				p.pricing-item-price_old 8 000₽
				button.e-button.pricing-item_cta.pricing-item_cta--noob Записаться


			.pricing-item
				.pricing-item-header
				.pricing-item-header--base
					+pic({src: 'img/4-pricing/base'})
					h3.pricing-item_title Базовый
				.pricing-item_text Все, что входит в начинающий
				ul.pricing-item-bullets
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/7'})
						p.pricing-item_text Модуль 7
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/8'})
						p.pricing-item_text Модуль 8
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/9'})
						p.pricing-item_text Модуль 9

					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/10'})
						p.pricing-item_text Модуль 10
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/11'})
						p.pricing-item_text Модуль 11
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/12'})
						p.pricing-item_text Модуль 12
					
				+pic({src: 'img/4-pricing/gift'})
				p.pricing-item_gift-text Курс 5 лучших начинок 2.0 в подарок
					span.pricing-item_gift-text--caption (при пролной оплате курса)
				p.pricing-item-price_new 7 990₽
				p.pricing-item-price_old 16 000₽
				button.e-button.pricing-item_cta.pricing-item_cta--base Записаться


			.pricing-item
				.pricing-item-header.pricing-item-header--pro
					+pic({src: 'img/4-pricing/pro'})
					h3.pricing-item_title Базовый
				.pricing-item_text Все, что входит в начинающий
				ul.pricing-item-bullets
					li.pricing-item_bullet
						+pic({src: 'img/4-pricing/money'})
						p.pricing-item_text 2 модуля бизнес пакета
				+pic({src: 'img/4-pricing/gift'})
				p.pricing-item_gift-text Курс 5 лучших начинок 2.0 в подарок
					span.pricing-item_gift-text--caption (при пролной оплате курса)
				p.pricing-item-price_new 13 990₽
				p.pricing-item-price_old 32 000₽
				button.e-button.pricing-item_cta.pricing-item_cta--pro Записаться










		section.my-idea
			h2.section_title Моя большая идея

			.my-idea-text
				p.text-bold 1 раз расширив границы и рискнув, вы уже не сможете вернуться н
				p.my-idea-text_regular Вы можете годами откладывать этот рывок, но это не принесёт вам
				p.text-bold Что выберешь ты: оставить все как есть или выйти на новый урове
				button.e-button.my-idea_cta








		section.unique
			h2.section_title В чем уникальность  курса?
			ul.unique-bullets
				li.unique-bullet
					+pic({src: 'img/5-unique/1'})
					h3.unique-bullet_title Это интересно
					p.unique-item_text Теперь твоя 
						span.text-bold--colored кухня станет местом, где рождаются кондитерские шедевры
						| . Это хобби, которое будет приносить тебе удовольствие!
				li.unique-bullet
					+pic({src: 'img/5-unique/2'})
					h3.unique-bullet_title Это красиво
					p.unique-item_text Торт ручной работы всегда будет главным героем на празднике! Используя мою методику, ты сможешь 
						span.text-bold--colored воплотить любую идею в реальность! 

				li.unique-bullet
					+pic({src: 'img/5-unique/3'})
					h3.unique-bullet_title Это просто
					p.unique-item_text Моя технология уникальна тем, что любой декор ты сможешь  
						span.text-bold--colored приготовить всего за 30 минут
						| , без использования дорогого инвентаря и сложных ингредиентов!




			section.faq
				h2.section_title Частые вопросы
				.faq-list
					.faq-item
						input(type="checkbox" name="faq")#faq-1
						label.faq_question(for="faq-1") Подойдет ли мне курс, если я совсем новичок?
						.faq_answer 
							p.faq_answer-text Он не просто вам подойдет, он вам необходим. Либо вы месяцами будете искать себя и ходить в мыслях, либо здесь и сейчас сделаете первые шаги и получите первые результаты. Я даю гарантию, что любой новичок сможет сделать торт с 1 раза. Именно в этом моя уникальность

					.faq-item
						input(type="checkbox" name="faq")#faq-2
						label.faq_question(for="faq-2") Во сколько будут проходить уроки?
						.faq_answer 
							p.faq_answer-text Все материалы курса в записи. Это пошаговые видео-материалы, которые подробно описаны текстом. Это позволяет заниматься выполнением домашних заданий в любое удобное время суток
					.faq-item
						input(type="checkbox" name="faq")#faq-3
						label.faq_question(for="faq-3") Как долго длится курс?
						.faq_answer 
							p.faq_answer-text Длительность курса зависит от пакета.
							.faq_answer-bullet
								span.text-bold Начинающий
								| — 4 недели
							.faq_answer-bullet
								span.text-bold Базовый
								| — 8 недель
							.faq_answer-bullet
								span.text-bold Базовый
								| — 12 недель

							| Все это время вы будете получать знания, мотивацию и действовать. Всё это под присмотром команды кураторов и Екатерины

					.faq-item
						input(type="checkbox" name="faq")#faq-4
						label.faq_question(for="faq-4") Как долго останется доступ к материалам?
						.faq_answer 
							p.faq_answer-text Доступ к курсу останется навсегда. Вы легко сможете вернуться и пересмотреть нужные блоки, чтобы освежить что-то в памяти.








