.footer-info{
	background-color: #171717;
	color: #fff;
	padding-top: 38px;
	padding-bottom: 28px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.footer-info_item{
	line-height: 1;
	margin-bottom: 0;
	font-size: 13px;
}
.footer-info_item--last{
	margin-bottom: 40px;
}
.footer-info--link{
	color: var(--c-bg-3);
	margin-bottom: 15px;
}