header
	a(href="#hero").logo
		+pic({src: "img/1-hero/logo", pictureClass: 'logo_pic'})
		span.logo_text Кондитерская школа<br>Екатерины Мулюковой
	//- label.burger(for="burger")
		//- input(type="checkbox" name="burger")#burger
		//- span.burger-menu_wrap
		//- 	span.burger-menu
		//- 		+pic({src: "img/1-hero/logo", pictureClass: 'logo_pic burger_logo'})
		//- 		a(href="#programm").burger-menu_link Программа курса
		//- 		a(href="#why").burger-menu_link Почему именно торты?
		//- 		a(href="#warranty").burger-menu_link Какие гарантии?
		//- 		a(href="#course").burger-menu_link Что будет на курсе?
		//- 		a(href="#modules").burger-menu_link Модули
		//- 		a(href="").burger-menu_link Мне все нравится,но
		//- 		a(href="#pricing").burger-menu_link Стоимость и тарифы
		//- 		a(href="#bonuses").burger-menu_link Бонусы при оплате
		//- 		a(href="#testimonials").burger-menu_link Отзывы
		//- 		a(href="#refund").burger-menu_link Гарантии возврата
		//- 		button.burger-menu_button Записаться на курс
		//- span.burger-line